:root {
  --mainBrown: #2d1e1f;
  --buttonsMain: rgb(12, 224, 224);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow {
  color: var(--buttonsMain);
}
.cart-icon {
  cursor: pointer;
  color: var(--buttonsMain);
  font-size: 2rem;
}
.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  background: rgba(0, 41, 34, 0.5);
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
.about-background {
  min-height: 60vh;
}
.btn-yellow {
  color: var(--buttonsMain);
  border-color: var(--buttonsMain);
}
.btn-yellow:hover {
  background: var(--buttonsMain);
  color: var(--mainBrown);
}
.footer {
  background: var(--mainGrey);
}
.menu,
.contact {
  background: var(--mainGrey);
}
